h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #666;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.adding {
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete_button {
  padding: 5px 3px;
  background-color: #888888;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}
