<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do Liste</h1>

    <form method="post" action="/?method=add">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="adding">Todo Hinzufügen</button>
    </form>

    <h2>Current Todos</h2>
        {% csrf_token %}
        <ul>
            {% for todo in todos %}
                <li>
                    <form id="frm" method="POST" action="/?method=delete">
                        {{ todo.title }}
                        {% csrf_token %}
                        <button type="submit" class="delete_button">Löschen</button>
                        <input type="hidden" name="item_id" value="{{ todo.pk }}">
                        <ul>
                            <li>
                                {{ todo.description }}
                            </li>
                        </ul>
                    </form>
                </li>
            {% endfor %}
        </ul>
<script src="{% static 'main.js' %}"></script>
</body>
</html>
